# ۱. همه چیز را نادیده بگیر
*

# ۲. کدهای اصلی را برگردان
!*.mq5
!*.mqh

# ۳. استثنا برای پوشه‌های مهم (اجازه بده گیت وارد این پوشه‌ها شود)
!Experts/
!Experts/MRH_XAUUSD_X8/
!Experts/MRH_XAUUSD_X8/**

!Include/
!Include/MRH_XAUUSD_X8/
!Include/MRH_XAUUSD_X8/**

!.gitignore
